#table_formatting {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

#table_formatting td, #table_formatting th {
    border: 1px solid #000000;
    padding: 5px;
}

/*#table_formatting td:first-child{background-color: #383e56}*/
#table_formatting tr:nth-child(even) {
    background-color: #c5d7bd;
}

#table_formatting tr:nth-child(odd) {
    background-color: #9fb8ad;
}

#table_formatting tr:first-child {
    background-color: #545d84
}

#table_formatting tr:hover {
    background-color: #fb743e;
}

.center {
    margin: auto;
    width: 60%;
    border: 2px solid #FFFF00;
    padding: 10px;
}

.bodyF {
    background-image: url("../static/webb-dark.png");
    background-color: darkcyan;
}

.divF {
    /*border-radius: 25px;*/
    border: 2px solid #6a6a6a;
    background-color: #ffffff;
    /*background-image: url("../static/dot-grid.png");*/
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    font-style: normal;
}

#pF {
    align-self: center;
    background-color: yellow;
    align-content: center;
    width: fit-content;
}

#h1F {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
}

