<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data recovered</title>
    <link rel="stylesheet" href='.static/execution.css'>
</head>
<style>
body {background-color:#ffb8b8;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
<body>
<div id="wrapper">
<h1 align="center">Here is the data</h1>


<table align="center">
{% for row in data %}
    <tr>
         {% for col in row %}
             <td>
                 {{ col }}
             </td>
         {% endfor %}
    </tr>
{% endfor %}
</table>

</div>
</body>
</html>
