<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Résultat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body class="bodyF">

<div class="center divF" align="center">

    <h1 align="center">Voici les résultats de la requete :</h1>

    <p align="center"><a href="{{ url_for('home') }}">Revenir à la page d'accueil</a></p> <br>

    <h3> {{label}}</h3>
    <br>

    <table align="center" id="table_formatting">
        {% for row in data %}
        <tr>
            <!--            <td width="20px">-->
            <!--                {{loop.index}}-->
            <!--            </td>-->
            {% for col in row %}
            <td style="text-align: center">
                {{ col }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>
