<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projet BDD</title>
    <link rel="stylesheet" href="{{url_for('static', filename='execution.css')}}">
</head>

<body>
<h1 align="center">Veuillez entrer votre requete</h1>

<h4 align="center">
    {%  block content %}
<form action="/results" method="post">
  <p> Requete:</p>
    <p><input type="text" name ="req" size="150px" > </p>
    <p><input type="submit" value ="Confirmer"> </p>
</form>
{% endblock %}

</h4>


<!--<h2 align="center"><a href="{{ url_for('run_command') }}"> Click here to execute the command</a></h2>-->


</body>
</html>



