<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body style="background-color: #94d6b9;">


<body>
<div align="center">
    <br>
    <br>
    <p>Connectez-vouz :</p> <br>
    <br>
    <br>
    <form action="/" method="post">
        <p>ID d'utilisateur :</p>
        <input type=text" name="userID" required />
        <br>
        <p>Mot de passe :</p>
        <input type="password" name="password" required />
        <br>
        <br>
    <input type="submit" />
    </form>

    <br>
    <p> {{label}}</p>
    <br>
    <p>
        <a href="{{ url_for('lostPassword')}}">
            Mot de passe oublié ?
        </a>
    </p>
    <br>
    <p>
        <a href="{{ url_for('register')}}">
            Créer un nouveau compte.
        </a>
    </p>
</div>


</body>
</html>