<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVIDATA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body class="bodyF">

<div class="center divF" align="center">
    <br>
    <br>
    <h1>Connexion</h1> <br>
    <br>
    <br>
    <form action="/" method="post">
        <p>Nom d'utilisateur :</p>
        <input type=text" name="username" required/>
        <br>
        <p>Mot de passe :</p>
        <input type="password" name="password" required/>
        <br>
        <br>
        <input type="submit"/>
    </form>

    <br>
    <p> {{label}}</p>
    <br>
    <p>
        <a href="{{ url_for('lostPassword')}}">
            Mot de passe oublié ?
        </a>
    </p>
    <br>
    <p>
        <a href="{{ url_for('register')}}">
            Créer un nouveau compte.
        </a>
    </p>
</div>

</body>
</html>