<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update informations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bodyF">


{% if userEpi==True %}

<div class="center divF" align="center">

    <form action="/modifyData" method="post">
        <br>
        <h2>Veuillez entrer les nouveaux données :</h2>
        <br>
        <br>
        <p> iso_code:</p>
        <p><input type="text" name="iso_code"></p>
        <p> date:</p>
        <p><input type="text" name="date"></p>
        <p> icu_patients:</p>
        <p><input type="text" name="icu_patients"></p>
        <p> hosp_patients:</p>
        <p><input type="text" name="hosp_patients"></p>
        <br>
        <p><input type="submit" value="Confirmer"></p>

        <br>
        <p> {{label}}</p>
        <br>
        <p align="center"><a href="{{ url_for('home') }}"> Revenir à la page d'accueil</a></p> <br>
    </form>
</div>
{% else %}
<div align="center">
    <p>Vous n'avez pas les droits d'accès à cette page.</p>
</div>
{% endif %}

</html>