<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVIDATA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bodyF">

<div class="center divF" align="center">
    <form action="/register" method="post">
        <br>
        <h2>Veuillez entrer vos données (il faut compléter tous les champs):</h2>
        <br>
        <p> Nom d'utilisateur:</p>
        <p><input type="text" name="username"></p>
        <p> Le prénom:</p>
        <p><input type="text" name="first_name"></p>
        <p> Le nom de famille:</p>
        <p><input type="text" name="last_name"></p>
        <p> L'adresse:</p>
        <p><input type="text" name="address"></p>
        <p> Mot de pass:</p>
        <p><input type="password" name="password"></p>
        <p> Confirmer le mot de pass:</p>
        <p><input type="text" name="confirm_password"></p>

        <p><input type="submit" value="Confirmer"></p>
        <br>
        <p style="background-color: #fff440; width: fit-content"> {{label}}</p>
        <br>
        <p align="center"><a href="{{ url_for('home') }}"> Revenir à la page de connexion</a></p> <br>
    </form>
</div>
</body>
</html>